@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #0b0b10;
	--foreground: #e6e8eb;
}

html, body {
	height: 100%;
}

body {
	background-color: var(--background);
	color: var(--foreground);
}

@media (prefers-color-scheme: light) {
	:root {
		--background: #ffffff;
		--foreground: #111827;
	}
}